<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maitianer.starter.modules.sys.mapper.OrganizationMapper">
    <select id="listData" resultType="Organization">
        select o.*, o2.name parent_name from sys_organization o
        left join sys_organization o2 on o.parent_id = o2.id and o.deleted != 1
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getData" resultType="Organization">
        select o.*, o2.name parent_name from sys_organization o
        left join sys_organization o2 on o.parent_id = o2.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="organizations" resultType="Organization">
        select id area_code, name area_name from sys_organization
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>