<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maitianer.layuiadmin.mapper.EmployeeMapper">
   <select id="selectPeople" resultType="Employee">
       select * from tb1_employee
       <where>
           ${ew.sqlSegment}
       </where>
   </select>



</mapper>