<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title th:text="${bean.isNew()} ? '添加' : '编辑' + '系统角色'">系统角色</title>

    <script type="text/javascript" layout:fragment="custom-content" th:inline="javascript">
        $().ready(function() {

            var $inputForm = $("#inputForm");
            // 表单验证
            $inputForm.validate({
                rules: {
                    name: {
                        required: true,
                    },
                    code: {
                        required: true
                        /*[# th:if="${bean.isNew()}"]*/,remote: '/sys/role/checkCode'/*[/]*/
                    }
                },
                messages: {
                    code: {
                        remote: '角色标识已存在！'
                    }
                }
            });
        });

        layui.use(['form'], function() {
            var form = layui.form;

            form.on('checkbox(selectModule)', function(data) {
                var $this = $(data.elem);
                $this.closest("div").find("li input:checkbox").prop('checked', $(this).prop('checked'));
                form.render('checkbox');
            });

            form.on('checkbox(selectFunc)', function(data) {
                var $this = $(data.elem);
                var $moduleSelect = $this.closest('div').find('input:checkbox:first');
                if ($this.prop('checked')) {
                    $moduleSelect.prop('checked', true);
                }else {
                    if ($this.closest('div').find('li input:checked').length == 0) {
                        $moduleSelect.prop('checked', false);
                    }
                }
                form.render('checkbox');
            })
        });
    </script>
</head>
<body>
<div class="layui-fluid" layout:fragment="content">
    <div class="layui-card">
        <div class="layui-card-header" th:text="${bean.isNew()} ? '添加' : '编辑' + '系统角色'"></div>
        <div class="layui-card-body">
            <form id="inputForm" class="layui-form" action="save" method="post" th:object="${bean}">
                <input type="hidden" th:field="*{id}" />
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline col-md">
                        <input type="text" th:field="*{name}" class="layui-input" maxlength="200"  />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色标识</label>
                    <div class="layui-input-inline col-md">
                        <input type="text" th:field="*{code}" class="layui-input" maxlength="200"  />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色说明</label>
                    <div class="layui-input-inline col-md">
                        <textarea th:field="*{description}" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色权限</label>
                    <div class="layui-input-block">
                        <fieldset th:each="rootPerm : ${rootPermissions}" class="layui-elem-field layui-inline">
                            <div class="layui-field-box">
                                <input type="checkbox" name="permissionIds" th:value="${rootPerm.id}" th:title="${rootPerm.name}" lay-filter="selectModule"
                                    th:checked="${stringPermissions.contains(rootPerm.permissionValue)}">
                                <ul>
                                    <li>
                                        <dl th:each="funcPerm : ${rootPerm.subPermissions}">
                                            <input type="checkbox" id="${funcPerm.id}" name="permissionIds" th:value="${funcPerm.id}" th:title="${funcPerm.name}" lay-skin="primary" lay-filter="selectFunc"
                                            th:checked="${stringPermissions.contains(funcPerm.permissionValue)}">

                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="submit">提交</button>
                        <button type="button" class="layui-btn layui-btn-primary" onclick="history.back(); return false;">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

