<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maitianer.layuiadmin.modules.sys.mapper.PermissionMapper">

    <sql id="Base_Column_List">
        c.id,
        c.parent_id AS parent_id,
        c.name,
        c.type,
        c.permission_value,
        c.description,
        c.status,
        c.create_date,
        c.update_date,
        c.create_by,
        c.update_by,
        p.name AS parent_name
    </sql>
    <resultMap id="parentResult" type="Permission">
        <id column="parent_id" property="id"/>
        <id column="parent_name" property="name"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="Permission">
        <id column="id" property="id"/>
        <id column="parent_id" property="parentId"/>
        <id column="name" property="name"/>
        <id column="type" property="type"/>
        <id column="permission_value" property="permissionValue"/>
        <id column="description" property="description"/>
        <id column="status" property="status"/>
        <id column="create_date" property="createDate"/>
        <id column="update_date" property="updateDate"/>
        <id column="create_by" property="createBy"/>
        <id column="update_by" property="updateBy"/>
        <association property="parent" resultMap="parentResult" />
    </resultMap>



    <select id="selectByRoleId" resultType="Permission">
        SELECT p.*
        FROM sys_permission p, sys_role_permission rp
        WHERE p.id = rp.permission_id AND rp.role_id = #{roleId}
    </select>

    <select id="selectAllWithParent" resultType="Permission" resultMap="BaseResultMap">
        select
       <include refid="Base_Column_List"/>
        from sys_permission c
        left join sys_permission p on c.parent_id = p.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>