<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maitianer.modeldemo.modules.sys.mapper.RoleMapper">
    <!--通用查询结果列-->
    <sql id="Base_Column_List">
        id, name, code, description, status, create_date, update_date, create_by, update_by
    </sql>
    <select id="selectByMemberId" resultType="Role">
        SELECT r.*
        FROM sys_role r, sys_member_role mr
        WHERE r.id = mr.role_id AND mr.member_id = #{memberId}
    </select>

</mapper>