<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>修改密码</title>

    <script type="text/javascript" layout:fragment="custom-script" th:inline="javascript">
        $().ready(function() {

            // 表单验证
            $('#inputForm').validate({
                rules: {
                    oldPassword: {required: true, minlength: 6},
                    newPassword: {required: true, minlength: 6},
                    newPasswordConfirmation: {required: true, minlength: 6, equalTo: '#newPassword'}
                },
                messages: {
                }
            });
        });
    </script>
</head>
<body>
    <div class="layui-fluid" layout:fragment="content">
        <div class="layui-card">
            <div class="layui-card-header">修改密码</div>
            <div class="layui-card-body">
                <form id="inputForm" class="layui-form" action="changePassword" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">旧密码</label>
                        <div class="layui-input-inline col-md">

                            <input type="password" id="oldPassword" name="oldPassword" class="layui-input" maxlength="200" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-inline col-md">
                            <input type="password" id="newPassword" name="newPassword" class="layui-input" maxlength="200" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认新密码</label>
                        <div class="layui-input-inline col-md">

                            <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" class="layui-input" maxlength="200" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="">提交</button>
                            <button type="button" class="layui-btn layui-btn-primary" onclick="parent.closeCurrentTab(); return false;">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

