<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/login.css}" media="all">

</head>
<body>

<div name="background">

</div>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h3 style="margin-top: 8px; margin-bottom: 8px;">后台管理系统</h3>
            <h2>重置密码</h2>
        </div>
        <form class="layadmin-user-login-box layadmin-user-login-body layui-form" action="/sys/member/reg"
              method="post" th:object="${bean}">
            <input type="hidden" th:field="*{id}"/>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="password"></label>
                <input type="password" name="password" id="password"
                       placeholder="新密码"
                       class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="repassword"></label>
                <input type="password" name="repassword" id="repassword"
                       placeholder="确认密码"
                       class="layui-input">
            </div>
            <div class="layui-form-item">
                <button type="submit" lay-filter="register" lay-submit="" class="layui-btn layui-btn-fluid">重置密码
                </button>
            </div>
        </form>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

        <!--<p>© 2018 <a href="http://www.maitianer.com/" target="_blank">maitianer.com</a></p>-->
        <!-- <p>
            <span><a href="http://www.layui.com/admin/#get" target="_blank">获取授权</a></span>
            <span><a href="http://www.layui.com/admin/pro/" target="_blank">在线演示</a></span>
            <span><a href="http://www.layui.com/admin/" target="_blank">前往官网</a></span>
        </p> -->
    </div>

    <!--<div class="ladmin-user-login-theme">
      <script type="text/html" template>
        <ul>
          <li data-theme=""><img src="{{ layui.setter.base }}style/res/bg-none.jpg"></li>
          <li data-theme="#03152A" style="background-color: #03152A;"></li>
          <li data-theme="#2E241B" style="background-color: #2E241B;"></li>
          <li data-theme="#50314F" style="background-color: #50314F;"></li>
          <li data-theme="#344058" style="background-color: #344058;"></li>
          <li data-theme="#20222A" style="background-color: #20222A;"></li>
        </ul>
      </script>
    </div>-->

</div>

<script type="text/javascript" th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/pickers.js}"></script>
<script type="text/javascript" th:inline="javascript">
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function () {
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer;

        form.render();

        // form.verify({
        //     password: [
        //         /^[\S]{6,12}$/
        //         , '密码必须6到12位，且不能出现空格'
        //     ]
        //     , repassword: function (value, item) { //value：表单的值、item：表单的DOM对象
        //         var password = $('input[name="password"]').val();
        //         if (password != value) {
        //             return '两次密码输入不一致';
        //         }
        //     }
        // });

        form.on('submit(register)', function (data) {
            var field = data.field;
            if (field.password == null || field.password.length <= 0) {
                layer.tips('密码不能为空', '#password', {
                    time: 0
                });
                return false;
            } else if (!new RegExp("^(?![A-Z]+$)(?![a-z]+$)(?!\\d+$)(?![\\W_]+$)\\S{8,16}$").test(field.password)) {
                layer.tips('密码必须8到16位，且必须包含小写字母、大写字母、数字、特殊字符2种以上', '#password', {
                    time: 0
                });
                return false;
            } else if (field.repassword == null || field.repassword.length <= 0) {
                layer.tips('确认密码不能为空', '#repassword', {
                    time: 0
                });
                return false;
            } else if (field.password != field.repassword) {
                layer.tips('两次密码输入不一致', '#repassword', {
                    time: 0
                });
                return false;
            }
            register(data.field);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        function register(data) {
            // 确定
            $.ajax({
                url: "/sys/member/resetPassword",
                type: "POST",
                data: data,
                dataType: "json",
                cache: false,
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg('密码重置成功', {
                            offset: 't',
                            icon: 1
                        });
                        setTimeout(function () {
                            window.location.replace('/sys/login');
                        }, 1000);
                    } else {
                        layer.msg(result.msg == null ? '操作失败' : result.msg, {
                            offset: 't',
                            icon: 2
                        });
                        // layer.msg(result.msg == null ? '操作失败' : result.msg);
                    }
                }
            });
        }

        $('input').on('keyup', function () {
            layer.closeAll();
        })

        /**
         * 倒计时
         */
        function countDown() {
            //显示60s倒计时，隐藏‘获取验证码’
            var time = 0;
            //倒计时-打开
            $('button[name="countDown"]').show();
            //获取-隐藏
            $('button[name="getCaptcha"]').hide();
            timer = setInterval(function () {
                time = parseInt($('button[name="countDown"]').text().replace(/[^0-9]/ig, ""));
                time--;
                $('button[name="countDown"]').html(time + '秒后重获');
                //60s后停止定时器
                if (time == 0) {
                    $('button[name="countDown"]').html('60秒后重获').hide();
                    $('button[name="getCaptcha"]').show();
                    clearInterval(timer);
                }
            }, 1000)
        }
    });

</script>
</body>
</html>